$font-stack: 'Muli', sans-serif;
$font-heading: 'Poppins', sans-serif;
$text-color: #000;
$heading-color: #7E7E7E;
$primary-color: #1b7799;
$color-white: #ffffff;
$background-light: #f1f7f8;
$background-light-color: #f6f6f6;
$border-color:#eee;
$dark-border-color:#c1c1c1;
$off-white: rgba(255, 255, 255, 0.3);
$overlay-color: rgba(0, 0, 0, 0.2);
$theme-background:#1B6B93;

// #213c76;